* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(img/flatirons.jpeg);
}

header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

article {
    padding: 20px;
    text-align: center;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.concert {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    max-width: 300px;
}

.concert:hover {
    transform: translateY(-5px);
}

.concert h2 {
    color: #003366;
    font-size: 20px;
    margin-bottom: 10px;
}

.concert p {
    font-size: 16px;
    margin-bottom: 5px;
}

.concert img {
    width: 100%;
    border-radius: 10px;
}


footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
}
