body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;   
}

#box1:hover {
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 2s infinite;
}

@keyframes box2move{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(0);
    }
}